In [ ]:
from data_loader import DataLoader
import pandas as pd

## 現状の問題点一覧
- データを無作為にサンプリングしている
- 学習データが攻撃データを多数含む
- ビニングにより多くの列が0に丸め込まれる
-

In [2]:
print("Results of UNSW:")
X_train, y_train, X_test, y_test, y_cat = DataLoader.load_unsw_nb15_for_minhash(sample_frac=1)
print(f"X_train size is {len(X_train)}")
print(f"X_test size is {len(X_test)}")

Results of UNSW:

       proto service state  is_ftp_login  is_sm_ips_ports
0        tcp       -   FIN             0                0
1        tcp       -   FIN             0                0
2        tcp       -   FIN             0                0
3        tcp     ftp   FIN             1                0
4        tcp       -   FIN             0                0
...      ...     ...   ...           ...              ...
175336   udp     dns   INT             0                0
175337   tcp       -   FIN             0                0
175338   udp     dns   INT             0                0
175339   udp     dns   INT             0                0
175340   udp     dns   INT             0                0

[175341 rows x 5 columns]

X_train size is 175341
X_test size is 82332

In [3]:
train_df = pd.read_csv("data/unsw_nb15/UNSW_NB15_testing-set.csv")
train_df.describe()

,id,dur,spkts,dpkts,sbytes,dbytes,rate,sttl,dttl,sload,...,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports,label
count,175341.000000,175341.000000,175341.000000,175341.000000,1.753410e+05,1.753410e+05,1.753410e+05,175341.000000,175341.000000,1.753410e+05,...,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000,175341.000000
mean,87671.000000,1.359389,20.298664,18.969591,8.844844e+03,1.492892e+04,9.540619e+04,179.546997,79.609567,7.345403e+07,...,5.383538,4.206255,8.729881,0.014948,0.014948,0.133066,6.955789,9.100758,0.015752,0.680622
std,50616.731112,6.480249,136.887597,110.258271,1.747656e+05,1.436542e+05,1.654010e+05,102.940011,110.506863,1.883574e+08,...,8.047104,5.783585,10.956186,0.126048,0.126048,0.701208,8.321493,10.756952,0.124516,0.466237
min,1.000000,0.000000,1.000000,0.000000,2.800000e+01,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,43836.000000,0.000008,2.000000,0.000000,1.140000e+02,0.000000e+00,3.278614e+01,62.000000,0.000000,1.305334e+04,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,87671.000000,0.001582,2.000000,2.000000,4.300000e+02,1.640000e+02,3.225807e+03,254.000000,29.000000,8.796748e+05,...,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,3.000000,4.000000,0.000000,1.000000
75%,131506.000000,0.668069,12.000000,10.000000,1.418000e+03,1.102000e+03,1.250000e+05,254.000000,252.000000,8.888889e+07,...,5.000000,3.000000,12.000000,0.000000,0.000000,0.000000,9.000000,12.000000,0.000000,1.000000
max,175341.000000,59.999989,9616.000000,10974.000000,1.296523e+07,1.465555e+07,1.000000e+06,255.000000,254.000000,5.988000e+09,...,51.000000,46.000000,65.000000,4.000000,4.000000,30.000000,60.000000,62.000000,1.000000,1.000000

In [4]:
print("Results of binned UNSW:")
X_train, y_train, X_test, y_test, y_cat = DataLoader.load_unsw_nb15_with_binned_features(sample_frac=1)
print(f"X_train size is {len(X_train)}")
print(f"X_test size is {len(X_test)}")

Results of binned UNSW:
before binning:

,dur,proto,service,state,spkts,dpkts,sbytes,dbytes,sttl,dttl,...,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,is_ftp_login,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst,is_sm_ips_ports
0,0.121478,tcp,-,FIN,6,4,258,172,252,254,...,1,1,1,1,0,0,0,1,1,0
1,0.649902,tcp,-,FIN,14,38,734,42014,62,252,...,1,1,1,2,0,0,0,1,6,0
2,1.623129,tcp,-,FIN,8,16,364,13186,62,252,...,2,1,1,3,0,0,0,2,6,0
3,1.681642,tcp,ftp,FIN,12,12,628,770,62,252,...,2,1,1,3,1,1,0,2,1,0
4,0.449454,tcp,-,FIN,10,6,534,268,254,252,...,2,2,1,40,0,0,0,2,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,0.000009,udp,dns,INT,2,0,114,0,254,0,...,24,24,13,24,0,0,0,24,24,0
175337,0.505762,tcp,-,FIN,10,8,620,354,254,252,...,1,1,1,2,0,0,0,1,1,0
175338,0.000009,udp,dns,INT,2,0,114,0,254,0,...,3,3,3,13,0,0,0,3,12,0
175339,0.000009,udp,dns,INT,2,0,114,0,254,0,...,30,30,14,30,0,0,0,30,30,0
175340,0.000009,udp,dns,INT,2,0,114,0,254,0,...,30,30,16,30,0,0,0,30,30,0

after binning:

,proto,service,state,is_ftp_login,is_sm_ips_ports,dur,spkts,dpkts,sbytes,dbytes,...,ct_srv_src,ct_state_ttl,ct_dst_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,ct_ftp_cmd,ct_flw_http_mthd,ct_src_ltm,ct_srv_dst
0,tcp,-,FIN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,tcp,-,FIN,0,0,0,0,0,0,0,...,6,1,0,0,0,0,0,0,0,0
2,tcp,-,FIN,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,tcp,ftp,FIN,1,0,0,0,0,0,0,...,0,1,0,0,0,0,2,0,0,0
4,tcp,-,FIN,0,0,0,0,0,0,0,...,6,1,0,0,0,6,0,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,udp,dns,INT,0,0,0,0,0,0,0,...,3,3,4,4,2,3,0,0,3,3
175337,tcp,-,FIN,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
175338,udp,dns,INT,0,0,0,0,0,0,0,...,1,3,0,0,0,1,0,0,0,1
175339,udp,dns,INT,0,0,0,0,0,0,0,...,4,3,5,5,2,4,0,0,4,4
175340,udp,dns,INT,0,0,0,0,0,0,0,...,4,3,5,5,3,4,0,0,4,4

describe:
X_train size is 175341
X_test size is 82332

## 考察：
- binningの戻り値はビン番号（例：4は10分割した4番目の区間を意味する）
- binningによりほとんどのエントリが0に丸め込まれる。結果として共通する要素が多くなり、大多数が同じバケットに振り分けられる。